################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureBlob/AzureBlob/obj
/AzureBlob/AzureBlob/wwwroot
/AzureBlob/.vs/AzureBlob
