################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureBlob/AzureBlob/obj
/AzureBlob/AzureBlob/wwwroot
/AzureBlob/.vs/AzureBlob
/AzureBlob/AzureBlob/bin/Debug/net6.0
/AzureFunctionWeb/bin/Debug/net6.0
/AzureFunctionWeb/obj
/AzureFunctionWeb/wwwroot
/AzureLogicApp/bin/Debug/net6.0
/AzureLogicApp/obj
/AzureLogicApp/wwwroot
